* {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  background: #ededed;
}

.no-correspondance-message {
  text-align: center;
  font-family: Manrope;
  font-size: 48px;
  display: none;
}

/******* NAVBAR AND SEARCH AREA ********/
nav {
  height: 667px;
  background-color: lightgray;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./assets/images/arriereplan-accueil.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 180px;
  color: white;
  margin: 51px 0 0 69px;
}

.main-nav-text {
  color: #ffd15b;
  font-family: Anton;
  font-size: 44px;
  text-wrap: balance;
  max-width: 890px;
  margin: auto;
  text-align: center;
}

.search-input-element {
  max-width: 954px;
  margin: auto;
  background-color: #fff;
  border-radius: 11px;
}

#searchbar {
  margin-top: 30px;
  margin-bottom: 0 !important;
  padding: 10px;
}

#loupe-rechercher {
  background-color: #1b1b1b;
  border-radius: 10px;
  cursor: pointer;
  height: 52px;
  width: 51px;
  display: flex;
  justify-content: center;
}

.form-control.search-input-area {
  border: none;
  outline: none;
  box-shadow: none;
}

.card .card-img-top {
  max-height: 253px;
  width: 100%;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
  position: relative;
}

.recipe-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 66px;
}

main {
  padding: 0 102px 200px 102px;
  box-sizing: border-box;
}

.recipe-cards-section .card {
  flex: 1 0 calc(33.3333% - 16px); /* Adjust for three cards per row and gap */
  box-sizing: border-box;
  border-radius: 21px;
  max-width: 380px;
}

.ingredients-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title {
  color: #000;
  font-family: Anton;
  font-size: 18px;
}

.card-subsection-title {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.card-text {
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text */
}

.ingredient-name {
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
}

.ingredient-quantity {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
}

h2 {
  color: #1b1b1b;
  font-family: Anton;
  font-size: 21px;
}

.card-time {
  position: absolute;
  background: #ffd15b;
  border-radius: 14px;
  color: #1b1b1b;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  padding: 5px 15px;
  top: 21px;
  right: 22px;
}

.search-dropdown-section {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 21px;
}

.search-dropdown {
  display: flex;
  gap: 66px;
}

.drop-custom,
.drop-custom:hover,
.drop-custom:active {
  background-color: #fff;
  color: #1b1b1b;
  border-color: #fff;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

.badge-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.badge {
  background-color: #ffd15b;
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  padding: 17px 18px;
  display: inline-flex;
  justify-content: space-between;
  gap: 60px;
}

p {
  margin: 0;
}

.badge-exit {
  cursor: pointer;
}

.dropdown li {
  padding: 6.5px 16px 6.5px 16px;
  box-sizing: border-box;
}

.dropdown li:hover:not(:first-child) {
  background-color: #ffd15b;
}

.dropdown-menu {
  /* padding: 16px; */
  border-radius: 11px;
}

.dropdown-menu {
  /* scrollbar-width: none; For Firefox */
  /* -ms-overflow-style: none; For Internet Explorer 10+ */
}

.dropdown-menu::-webkit-scrollbar {
  /*For WebKit Browsers*/
  /* width: 0; */
}

.btn:first-child:active {
  color: unset;
  background-color: #fff;
  border-color: transparent;
}
